/* IMG TEST  */

.flex-container {

    display: flex;
    align-items: flex-start;

    background-color: #e3e3e3;
    height: 100%;
    padding: 15px;
    gap: 5px;

  }

  .flex-container > div{
    /* background: #cdcdcd;
    border: 3px solid #ffcc80; */
    border-radius: 5px;
    padding: 8px;
  }


  .item1 {
    /* flex:1 1 auto; */
    order:1;
    width: 40%;
    /* flex-grow:1; */
    /* align-self:auto; */
    /* flex-shrink: 1; */
  }

  .item2 {
    /* flex:2 1 auto; */
    order:2;
    width: 60%;
    /* flex-shrink:1; */
  }

/* end */



.page-title {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  /* color: #FF2D8F; */
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #F7F7F7;
}

p {
  text-indent: 2rem;

}



.tabcontent {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-thumb {
  background: #FF2D8F;
  /* border-radius: 10px; */
}

 main a {
    color: #FF7BB9;
    transition: 600ms ease;

}

main a:hover {
  color: #FF2D8F;
  transition: 600ms ease;
}

main {
  padding: 2rem;
}


h1, h2, h3 {
  text-transform: uppercase;
}


.navbar {
  margin: auto;
  /* padding: 2rem; */
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  color: #FF2D8F;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  transition: 600ms ease;

}

button:hover {
  background-color: #FF58A6;
  color: white;
  transition: 600ms ease;
}

.active {
  background-color: #FF2D8F;
  color: white;
}

/* for js, hides all tab content when first on page */
.tabcontent:not(.active) {
  display:none;
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  width: 30%;
  height: 100%
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: right;
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 70%;
  border-left: none;
  height: 60vh;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.container {
  position: relative;
  text-align: center;
  /* color: white; */
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.imglink {
  opacity: 1;
  padding: 10px;
  display: block;
  max-width: 100%;
  max-height: 300px;
  transition: 600ms ease;
  backface-visibility: hidden;
}

.imgarticle {
  opacity: 1;
  /* padding: 10px; */
  /* display: block; */
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

.imglinkwriting {
  opacity: 1;
  padding: 10px;
  display: block;
  width: 400px;
}

#profile {
  max-height: 450px;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .imglink {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.linktxt a {
  color: black;
}







/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .tab {
    width: 100%;
  }
  .tabcontent {
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }
}


/* .navbar-nav {
  list-style: none;
}

.nav-link {
  padding: 0.5rem;
  transition: 600ms ease;

}

.nav-link:hover{
  background-color: #FF2D8F;
  padding: 0.5rem;
  transition: 600ms ease;
}

.active {
  background-color: #FF2D8F;
  padding: 0.5rem;
} */
